@import 'bootstrap/scss/bootstrap.scss';
.header{
    height: 100%;
    border-bottom: 2px solid $primary ;    
    color:aliceblue; 
}
.active{
//    color: $primary;  
    font-weight: bold;
    color:aliceblue; 
    background-color: $info;
}
