/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap.scss';
app-root {
    display: block;
    height: 100%;
  }
html, body{
 height:100%;
}  